.background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    background: rgb(26,25,26);
    background: linear-gradient(90deg, rgba(26,25,26,1) 0%, rgba(94,41,126,0.5) 50%, rgba(158,57,221,0) 100%);
    //animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        transform: rotate(250deg);
    }
    100% {
        transform: rotate(-250deg);
    }
}

.content-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 100px;
    position: relative;
    z-index: 2;
    margin: 75px;

    &_content {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 40px;
    }
}

