.rigth {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 30px;
//    max-width: 340px;
    width: 322px;
    justify-content: center;

    &_obj {
        height: 150px;
        width: 150px;
        background-color: #13081B;
        z-index: 1;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1273px) {
    .rigth {
        width: fit-content;
    }
}